@charset "UTF-8";

@font-face {
  font-family: "icon";
  font-display: swap;
  src: url("../fonts/icon.woff") format("woff"), url("../fonts/icon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  font-display: swap;
  src: url("../fonts/PTSerif-Bold.woff") format("woff"), url("../fonts/PTSerif-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoRegular";
  font-display: swap;
  src: url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

._icon-case:before {
  content: "";
  font-family: "icon";
}

._icon-chair:before {
  content: "";
  font-family: "icon";
}

._icon-clock:before {
  content: "";
  font-family: "icon";
}

._icon-list:before {
  content: "";
  font-family: "icon";
}

._icon-phone:before {
  content: "";
  font-family: "icon";
}

._icon-star:before {
  content: "";
  font-family: "icon";
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-size: 16px;
  font-family: "Muller";
  color: #000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}

.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.btn {
  display: inline-block;
  line-height: 140%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: #2F80ED;
  border-radius: 15px;
  padding: 17px 66px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 2px 2px rgba(13, 135, 228, 0.2);
  border: 2px solid #2F80ED;
}

.btn:hover {
  color: #2F80ED;
  background-color: #fff;
  border: 2px solid #2F80ED;
  transition: all 0.3s ease;
}

._title_block {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 8px;
  display: block;
  margin: 0 auto;
}

._subtitle_block {
  display: block;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #4F4F4F;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 600px;
}

._advice {
  background-color: #FFCF10;
  border-radius: 12px;
  text-align: center;
}

._advice_text {
  font-size: 20px;
  line-height: 140%;
  position: relative;
  padding: 38px 150px 38px 209px;
  text-align: left;
}

._advice_text::before {
  display: inline-block;
  content: "i";
  font-weight: 600;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  padding-left: 11px;
  padding-top: 2px;
  top: 35px;
  left: 170px;
}

.popup_img {
  cursor: pointer;
}

.modalWindow {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 100px 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #888;
  width: 100%;
  height: auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 56px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup {
  height: auto;
  width: 100%;
}

input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.header_logo {
  padding-right: 38px;
}

.header_text {
  width: 260px;
  font-size: 14px;
  line-height: 140%;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_right_phone {
  padding-right: 32px;
  font-size: 24px;
  line-height: 140%;
  color: #333;
}

._btn_transp {
  font-family: Roboto;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #2F80ED;
  border: 2px solid #2F80ED;
  padding: 11px 38px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

._btn_transp:hover {
  color: white;
  background-color: #2F80ED;
  transition: all 0.3s ease;
}

.button_phone {
  background-color: #2F80ED;
  padding: 10px;
  border-radius: 10px;
  display: none;
  margin-right: 12px;
}

.button_phone:before {
  content: "";
  font-size: 32px;
  color: #fff;
}

.main_content {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 100px;
}

.main_info_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  padding: 60px 0 24px 0;
}

.main_info_subtitle {
  color: #4F4F4F;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 50px;
}

.main_info_advant {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: space-between;
}

.main_info_advant_left {
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 40px;
}

.main_info_item {
  line-height: 140%;
  margin-bottom: 28px;
  position: relative;
}

.main_info_item:before {
  content: "";
  font-size: 32px;
  color: #2F80ED;
  position: absolute;
  top: 10px;
  left: -40px;
}

.main_info_advant_right {
  display: flex;
  flex-direction: column;
}

.main_info_text {
  font-size: 14px;
  line-height: 140%;
  color: #4F4F4F;
  margin-bottom: 8px;
  width: 320px;
}

.main_info_advant_block {
  display: flex;
  flex-direction: row;
}

.work_container {
  margin-bottom: 80px;
}

.work_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.work_info {
  width: 430px;
}

.work_item_number {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #2F80ED;
  overflow: hidden;
  display: block;
  width: 150px;
}

.work_item_number:before,
.work_item_number:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 3px;
  background-color: #2F80ED;
  position: relative;
}

.work_item_number:before {
  margin-left: -100%;
  left: -14px;
}

.work_item_number:after {
  margin-right: -100%;
  right: -14px;
}

.work_item_dots {
  margin-bottom: -20px;
}

.work_item_dots:before,
.work_item_dots:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background-color: #2F80ED;
  position: relative;
  transform: rotate(45deg);
}

.work_item_dots:before {
  left: 37px;
  top: 26px;
}

.work_item_dots:after {
  left: 105px;
  top: -26px;
}

.work_item_text {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 30px;
}

.work_item_text:not(:last-child) {
  margin-bottom: 0px;
}

.work_img {
  max-width: 700px;
  cursor: pointer;
}

.work_advice {
  margin-bottom: 90px;
}

.work_container_form_title {
  text-align: center;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 72px;
}

.work_form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.work_form_column1 {
  padding-right: 15px;
}

.work_form_name_ {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 4px;
  padding-left: 15px;
}

.work_form_input_name {
  border: 1px solid #828282;
  border-radius: 8px;
  width: 370px;
  height: 70px;
  padding-left: 20px;
  font-size: 16px;
}

.work_form_input_name::placeholder {
  color: #BDBDBD;
}

.work_form_column2 {
  padding: 0 15px;
}

.work_form_tel_ {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 4px;
  padding-left: 15px;
}

.work_form_input_tel {
  border: 1px solid #828282;
  border-radius: 8px;
  width: 370px;
  height: 70px;
  padding-left: 20px;
  font-size: 16px;
}

.work_form_submit {
  padding-left: 15px;
}

.work_form_submit_btn {
  height: 70px;
  width: 370px;
  padding: 12px 0;
  margin-top: 25px;
  margin-bottom: 12px;
}

.work_form_submit_info {
  font-size: 13px;
  line-height: 140%;
  text-align: center;
}

.work_form_politic {
  color: #2F80ED;
}

.condition_conteiner {
  margin-bottom: 90px;
}

.condition_content {
  display: flex;
  justify-content: space-around;
}

.condition_content_left {
  margin-right: 30px;
}

.condition_item {
  width: 570px;
  height: 88px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin: 0 0 40px 0;
  position: relative;
  padding: 40px 15px 10px 15px;
}

.condition_item_number {
  font-family: PTSerif;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #2F80ED;
  position: absolute;
  left: 253px;
  top: -30px;
  width: 80px;
  display: inline-block;
  background-color: #fff;
}

.condition_item_shell {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 0 0 80px 80px;
  border-top: 1px solid transparent;
  left: 253px;
  top: 0px;
  z-index: 5;
}

.condition_item_text {
  line-height: 140%;
  align-items: center;
  text-align: center;
}

.future_subtitle {
  margin-bottom: 40px;
}

.future_form {
  display: block;
  margin: 0 auto;
  width: 720px;
  height: 400px;
  border: 1px solid #2F80ED;
  border-radius: 12px;
  padding: 20px 30px 24px 30px;
  position: relative;
  margin-bottom: 90px;
  
  transition: 0.6s all;
}

.future_form_wrapper {
  width: 650px;
  overflow: hidden;
}

.future_form_info {
  display: flex;
  width: 400%;
  height: 400px;
  align-items: start;
}

.future_form-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 650px;
  justify-content: space-between;
  padding: 10px;
}

.future_form_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 12px;
  align-self: center;
  text-align: center;
}

.future_form_subtitle {
  font-size: 16px;
  line-height: 140%;
  color: #4F4F4F;
  margin-bottom: 40px;
  align-self: center;
}

.future_form_radio {
  margin-bottom: 30px;
}

.future_btn_block{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.future_button {
  align-self: end;
  padding: 10px 55px;
}

.future_form_contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.future_form_contacts .contacts_form_input_name {
  width: 250px;
  
}

.future_form_contacts .contacts_form_input_tel{
 width: 250px;
}

.future_form_contacts .contacts_form_submit_btn {
  padding: 20px;
}

.future_form_contacts .contacts_form_submit_info {
  width: 300px;
}

label {
  display: block;
  margin-bottom: 4px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 10px;
}

label input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
  transition: 0.3s background-color;
  
}

label span:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  
}

label:hover span {
  background-color: #ccc;
}

label input:checked ~ span {
  background-color: #2eaadc;
}

label input:checked ~ span:after {
  display: block;
}

.steps_container {
  margin-bottom: 90px;
}

.steps_content {
  display: flex;
}

.steps_content_item {
  width: 300px;
  line-height: 140%;
  display: block;
  border: 1px solid #FFCF10;
  border-radius: 4px;
  padding: 20px 40px 20px 20px;
  margin: 0 12px;
  position: relative;
}

.steps_item_number {
  width: 60px;
  text-align: center;
  font-family: PTSerif;
  font-weight: 700;
  color: #2F80ED;
  font-size: 36px;
  line-height: 48px;
  position: absolute;
  top: -27px;
  background-color: #fff;
}

.steps_item_content {
  position: relative;
}

.steps_item_icon_list::before {
  content: "";
  font-family: icon;
  font-size: 40px;
  position: absolute;
  color: #2F80ED;
  left: 210px;
  top: 30px;
}

.steps_item_icon_phone::before {
  content: "";
  font-family: icon;
  font-size: 30px;
  position: absolute;
  color: #2F80ED;
  left: 220px;
  top: 30px;
}

.steps_item_icon_chair::before {
  content: "";
  font-family: icon;
  font-size: 35px;
  position: absolute;
  color: #2F80ED;
  left: 215px;
  top: 30px;
}

.steps_item_icon_case::before {
  content: "";
  font-family: icon;
  font-size: 35px;
  position: absolute;
  color: #2F80ED;
  left: 210px;
  top: 30px;
}

.contract_container {
  margin-bottom: 90px;
}

.contract_subtitle {
  margin-bottom: 40px;
}

.contacts_btn {   
  width: 100%;
}

.contract_content {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.contract_content_left {
  padding-right: 60px;
}

.cotract_content_left_text {
  display: block;
  position: relative;
  margin-bottom: 29px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 140%;
  color: #2F80ED;
}

.cotract_content_left_text:before {
  content: "";
  font-size: 22px;
  color: #2F80ED;
  position: absolute;
  top: -5px;
  left: 0px;
}

.contract_video_youtube {
  border-radius: 8px;
}

.contract_content_right {
  padding-left: 60px;
}

.contract_right_text {
  margin-bottom: 37px;
}

.contract_right_text p {
  margin-bottom: 20px;
  line-height: 140%;
}

.cotract_right_button {
  padding-top: 12px;
  padding-bottom: 12px;
}

.contract_advice {
  margin-bottom: 30px;
}

.contract_documents {
  display: flex;
  justify-content: space-between;
}

.contract_documents_item {
  width: 380px;
  opacity: 0.5;
  border: 10px solid #F2F2F2;
  border-radius: 4px;
  margin: 0 10px 10px 10px;
}

.contract_document {
  width: 360px;
}

.interview_container {
  margin-bottom: 90px;
}

.interview_subsubtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 34px;
}

.interview_content {
  display: flex;
  justify-content: space-between;
}

.interview_question {
  display: block;
  width: 720px;
}

.interview_question_list {
  margin-bottom: 40px;
}

.interview_question_item {
  font-size: 20px;
  line-height: 140%;
  position: relative;
  margin-bottom: 30px;
  padding-left: 42px;
}

.interview_question_item:before {
  content: "?";
  color: #2F80ED;
  display: inline-block;
  font-weight: 600;
  width: 30px;
  height: 30px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
  position: absolute;
  padding-left: 10px;
  padding-top: 2px;
  top: -3px;
  left: 0px;
}

.interview_advice_text {
  padding: 20px 80px 20px 80px;
  font-size: 20px;
  line-height: 140%;
  position: relative;
  text-align: left;
}

.interview_advice_text::before {
  display: inline-block;
  content: "i";
  font-weight: 600;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  padding-left: 11px;
  padding-top: 2px;
  top: 20px;
  left: 35px;
}

.interview_form {
  width: 384px;
  text-align: center;
}

.interview_form_title {
  text-align: center;
  line-height: 140%;
  margin-bottom: 40px;
}

.interview_form_block {
  display: flex;
  flex-direction: column;
}

.interview_form_column1 {
  margin-bottom: 14px;
}

.interview_form_name_ {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 6px;
  text-align: left;
  padding-left: 15px;
}

.interview_form_input_name {
  border: 1px solid #828282;
  border-radius: 8px;
  width: 370px;
  height: 52px;
  padding-left: 20px;
  font-size: 16px;
}

.interview_form_input_name::placeholder {
  color: #BDBDBD;
}

.interview_form_column2 {
  margin-bottom: 24px;
}

.interview_form_tel_ {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 6px;
  text-align: left;
  padding-left: 15px;
}

.interview_form_input_tel {
  border: 1px solid #828282;
  border-radius: 8px;
  width: 370px;
  height: 52px;
  padding-left: 20px;
  font-size: 16px;
}

.interview_form_submit_btn {
  height: 72px;
  width: 370px;
  padding: 15px 0;
  margin-bottom: 12px;
}

.interview_form_submit_info {
  font-size: 13px;
  line-height: 140%;
  text-align: center;
}

.interview_form_politic {
  color: #2F80ED;
}

.contacts_container {
  margin-bottom: 90px;
}

.contacts_content {
  display: flex;
}

.contacts_form {
  display: flex;
  flex-direction: column;
  width: 370px;
  margin-right: 50px;
}

.contacts_form_title {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.contacts_form_column1 {
  margin-bottom: 14px;
}

.contacts_form_name_ {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 6px;
  padding-left: 15px;
}

.contacts_form_input_name {
  border: 1px solid #828282;
  border-radius: 8px;
  width: 370px;
  height: 52px;
  padding-left: 20px;
  font-size: 16px;
}

.contacts_form_input_name::placeholder {
  color: #BDBDBD;
}

.contacts_form_column2 {
  margin-bottom: 24px;
}

.contacts_form_tel_ {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 6px;
  padding-left: 15px;
}

.contacts_form_input_tel {
  border: 1px solid #828282;
  border-radius: 8px;
  width: 370px;
  height: 52px;
  padding-left: 20px;
  font-size: 16px;
}

.contacts_form_submit_btn {
  
  padding: 20px 20px;
  margin-bottom: 12px;
}

.contacts_form_submit_info {
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 40px;
}

.contacts_form_politic {
  color: #2F80ED;
}

.contacts_contacts {
  background-color: #FFCF10;
  border-radius: 12px;
  padding: 20px 50px;
  text-align: center;
  line-height: 140%;
  width: 370px;
}

.contacts_contacts span {
  display: block;
  font-weight: 700;
}

.contacts_contacts_addres {
  margin-bottom: 20px;
}

.contacts_contacts_phone {
  margin-bottom: 20px;
}

.yandex_map {
  width: 700px;
  height: 600px;
  margin-top: 100px;
}

.footer_content {
  background-color: #F2F2F2;
  border-radius: 12px;
  padding: 40px;
}

.promotion {
  background-color: rgba(255, 207, 16, 0.79);
  margin-bottom: 40px;
}

.promotion__text {
  padding-top: 40px;
}

.promotion_title {
  font-size: 24px;
  font-weight: 700;
}

.promotion__timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 90px;
}

.promotion__timer .timer {
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.promotion__timer .timer__block {
  width: 102px;
  height: 120px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  border-radius: 5px;
}

.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700;
}

@media (max-width: 1222px) {
  ._subtitle_block {
    width: 400px;
  }

  .main_info_subtitle {
    font-size: 24px;
  }

  .main_info_advant_right {
    padding-left: 40px;
  }

  .main_info_advant_block {
    flex-direction: column;
    width: 60%;
  }

  .work_img {
    max-width: 100%;
  }

  .work_form {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .work_form_column1 {
    margin-bottom: 20px;
    flex-direction: column;
    padding-right: 0;
  }

  .work_form_input_name {
    width: 350px;
  }

  .work_form_column2 {
    padding: 0;
    flex-direction: column;
  }

  .work_form_input_tel {
    width: 350px;
  }

  .work_form_submit_btn {
    width: 350px;
  }

  .work_form_submit_info {
    width: 350px;
  }

  .condition_content_left {
    margin-right: 20px;
  }

  .condition_item {
    width: 400px;
    padding: 40px 10px 10px 10px;
  }

  .condition_item_number {
    left: 155px;
  }

  .condition_item_shell {
    left: 155px;
  }

  .steps_content {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .steps_content_item {
    margin-bottom: 30px;
  }

  .steps_item_icon_list::before {
    left: 240px;
  }

  .steps_item_icon_phone::before {
    left: 240px;
  }

  .steps_item_icon_chair::before {
    left: 240px;
  }

  .steps_item_icon_case::before {
    left: 240px;
  }

  .steps_item_text {
    width: 200px;
  }

  .contract_content {
    flex-direction: column;
    align-items: center;
  }

  .contract_content_left {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contract_video_youtube {
    margin-bottom: 35px;
    width: 700px;
  }

  .contract_content_right {
    width: 450px;
  }

  .contract_documents {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .interview_question {
    margin-bottom: 30px;
    width: 100%;
  }

  .interview_form_title {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .interview_form_input_name {
    margin-right: 20px;
  }

  .contacts_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts_form {
    width: 100%;
    margin-right: 0;
    align-items: center;
  }

 

  .contacts_form_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .contacts_form_input_name {
    margin-right: 20px;
  }

  .contacts_form_submit_info {
    width: 350px;
  }

  .contacts_contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .contacts_contacts_addres {
    width: 33.3%;
  }

  .contacts_contacts_phone {
    width: 33.3%;
  }

  .contacts_contacts_clock {
    width: 33.3%;
  }

  .yandex_map {
    width: 700px;
    height: 600px;
  }

  .footer_content {
    padding: 10px;
  }
}

@media (max-width: 991.98px) {
  ._title_block {
    font-size: 48px;
  }

  ._advice_text::before {
    left: 50px;
    top: 30px;
  }

  ._advice_text {
    padding: 30px 84px;
  }

  ._btn_transp {
    display: none;
  }

  .button_phone {
    display: block;
  }

  .main_content {
    flex-direction: column;
  }

  .main_info_title {
    font-size: 52px;
  }

  .main_info_subtitle {
    font-size: 16px;
    text-align: left;
  }

  .main_info_advant {
    flex-direction: column;
  }

  .main_info_advant_left {
    padding-left: 40px;
  }

  .main_info_item:before {
    top: 0;
  }

  .main_info_advant_block {
    width: 100%;
  }

  .work_content {
    flex-direction: column;
  }

  .work_title {
    font-size: 48px;
  }

  .work_item_dots {
    padding-left: 130px;
    margin-bottom: -10px;
  }

  .work_item_text {
    text-align: center;
  }

  .work_form {
    flex-direction: column;
    align-items: center;
  }

  .work_form_submit {
    padding-left: 0;
    align-items: center;
  }

  .work_form_submit_info {
    align-items: center;
    width: 350px;
  }

  .condition_item_number {
    left: 150px;
  }

  .condition_item_shell {
    left: 150px;
  }

  .future_form {
    width: 700px;
  }

  .steps_item_icon_list::before {
    left: 240px;
  }

  .steps_item_icon_phone::before {
    left: 240px;
  }

  .steps_item_icon_chair::before {
    left: 240px;
  }

  .steps_item_icon_case::before {
    left: 240px;
  }

  .interview_content {
    flex-direction: column;
  }

  .interview_question {
    width: 100%;
  }

  .interview_form {
    width: 100%;
  }

  .interview_form_block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .interview_form_tel_ {
    padding-left: 0;
  }

  .interview_form_submit_info {
    width: 370px;
  }

  .contacts_content {
    align-items: center;
    justify-content: center;
  }

  .contacts_form_input_name {
    margin-right: 20px;
  }

  .yandex_map {
    width: 550px;
    height: 450px;
  }
}

@media (max-width: 767.98px) {
  .header_right_phone {
    display: none;
  }

  .main_info_advant {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .main_info_advant_left {
    padding-left: 40px;
    text-align: left;
  }

  .main_info_advant_right {
    padding-left: 40px;
    text-align: left;
  }

  .work_title {
    font-size: 28px;
    text-align: center;
  }

  .condition_content {
    flex-direction: column;
    align-items: center;
  }

  .future_form {
    width: 400px;
  }

  .contract_video_youtube {
    height: 200px;
    width: 350px;
  }

  .interview_form_input_name {
    margin-right: 0;
  }

  .contacts_form_input_name {
    margin-right: 0;
  }

  .contacts_contacts {
    display: block;
    width: 370px;
    margin: 0 auto;
  }

  .contacts_contacts_addres {
    width: 100%;
  }

  .contacts_contacts_phone {
    width: 100%;
  }

  .contacts_contacts_clock {
    width: 100%;
  }

  .yandex_map {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 479.98px) {
  .header_text {
    display: none;
  }

  .header_right_phone {
    display: none;
  }

  .main_info_title {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .main_info_advant_left {
    padding-left: 0;
    text-align: center;
  }

  .main_info_item {
    margin-bottom: 60px;
    text-align: center;
    width: 350px;
  }

  .main_info_item:before {
    left: 150px;
    top: -35px;
    text-align: center;
  }

  .main_info_advant_right {
    padding-left: 0;
    text-align: center;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1222px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}
